<!DOCTYPE html>
<meta charset="utf-8">
<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

.scatterPlot circle{
  opacity: 0.7;
}
</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="box.js"></script>
<img id="path" src="{{url_for('static', filename='test.json')}}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

/*var uri = "http://38.127.68.166:55000/data"
        $.ajax({
            url: uri,
            async: true,
            success: function (data) {
                alert(JSON.stringify(data));
                my_json = data;
                //var obj = JSON.parse(data.usage_idle);
                console.log(typeof(data.usage_idle));
            },
            error: function (xhr, textStatus, errorMessage) {
                alert(errorMessage);
            }                
        });*/

/*$("#path").click(function(){
    $.get("http://38.127.68.166:55000/data", function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
    });
});*/

var margin = {top: 10, right: 50, bottom: 20, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var r = 6;

var min = Infinity,
    max = -Infinity;

var y = d3.scale.linear()
    .range([height, 0]);
var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var color = d3.scale.category10();

var sums = [];

d3.json("http://38.127.68.166:55000/data",function(error,json){

  var data = [];
  var rows = [];
  var cols_pr = Object.keys(json);
  var cols = []

  var idx = 0;


  for(var i = 0;i<cols_pr.length;i++){

  	var s = 0;
  	var n = 0;

  	console.log("idx : "+idx);

  	if(cols_pr[i] == 'index' || cols_pr[i] == 'usage_idle' || cols_pr[i] == 'usage_softirq' || cols_pr[i] == 'usage_system') {
  		console.log('in continue..');
  		continue;
  	}
  	
  	data[idx] = json[cols_pr[i]];
    console.log("data : "+idx+" : "+data[idx]);
    for(var j=0;j<data[idx].length;j++){
    	rows.push({'set':idx,'val':data[idx][j]});
    	if (data[idx][j]>max) {
    		max = data[idx][j];
    	}
    	if(data[idx][j]<min){
    		min = data[idx][j];
    	}
    	s = s + data[idx][j];
    	n++;
    }

    sums[idx] = {'sum':s,'n':n};

    idx++;

  }
  
  var idx_2 = 0;

  for(var i = 0;i<cols_pr.length;i++){

  	if(cols_pr[i] == 'index' || cols_pr[i] == 'usage_idle' || cols_pr[i] == 'usage_softirq' || cols_pr[i] == 'usage_system') {
  		console.log('in continue..');
  		continue;
  	}

  	cols[idx_2] = cols_pr[i];

    idx_2++;

  }

  console.log('data length : '+data.length);

  //console.log(data[1][0]);
  //console.log(json.usage_idle.length);

  console.log('min : '+min);
  console.log('max : '+max);
  //console.log('sums[0] : '+JSON.stringify(sums[0]));
  //console.log('sums[1] : '+JSON.stringify(sums[1]));
  
  /*for (var i = 0; i < json.conditions.length; i++) {
    var c = json.conditions[i];
    for (var j = 0; j < json.sets[c].length; j++) {
      var e = i,
          s = json.sets[c][j],
          d = data[e];
      rows.push({'set':i, 'val':s});
      if (!d){
        d = data[e] = [s];
        sums[e] = {'sum':s,'n':1};
      }
      else{
        sums[e].sum+=s;
        sums[e].n++;
        d.push(s);
      };
      if (s > max) max = s;
      if (s < min) min = s;
    };
  };*/
  
  // console.debug(data);
  var boxPlotWidth = (20 > (width / cols.length)) ? (width / cols.length) : 20;
  var chart = d3.box()
      .whiskers(iqr(1.5))
      .width(boxPlotWidth)
      .height(height);

  y.domain([0,max]).nice();
  chart.domain([min, max]);
  chart.domain([min, max]);

  // distance between graphs
  var graphMargin = 100;

  var svg = d3.select("body")
      .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  svg.append('g')
      .selectAll('box')
      .data(data)
      .enter().append('g')
        .attr("class", "box")
        .attr("transform", function(d,i){return "translate(" + (margin.left+(boxPlotWidth*i)+graphMargin*i) + "," + 0 + ")"})
        .call(chart);

  svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("class", "label")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("2^-dd_ct");    



  svg = d3.select("body")
          .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .attr('class', 'scatterPlot')
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


  // use these variables (x and xAxis) to place the tick lines
  // inbetween the chart data
  var x = d3.scale.linear()
            .domain([0,cols.length])
            .range([0,width]);
  var xAxis = d3.svg.axis().scale(x).orient("bottom")
            .ticks(cols.length)
            .tickFormat(function (d, i) { return cols[i]; })
            .tickPadding(graphMargin);
  // add tick lines to graph
  svg.append("g")
        .attr("class", "x axis")
        .attr("transform","translate (0,"+height+")")
        .call(xAxis);
  // use these variables (x2 and xAxis2) to position the labels of he graph
  var x2 = d3.scale.ordinal()
      .domain(cols)
      .rangeRoundBands([0, width], .1);

  var xAxis2 = d3.svg.axis()
      .scale(x2)
      .tickSize(0)
      .orient("bottom");

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis2);

  svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("class", "label")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("2^-dd_ct");

  (function(){
    var xPositions = [];
    var yPositions = [];
    svg.append("g")
      .selectAll("circle")
      .data(rows)
      .enter().append("circle")
      .attr("r",r)
      .attr("cx", function(d,i){  
        var xPos = x(d.set)+(graphMargin+r);
        for (var j = 0; j < xPositions.length; j++) {
          // if this point overlaps any other, 'jitter' it's x position
          if( (xPositions[j] < xPos+r && xPositions[j] > xPos-r) && (yPositions[j] < y(d.val)+r && yPositions[j] > y(d.val)-r)  ){
            var plusOrMinus = Math.random() < 0.5 ? -1 : 1;
            xPos+= r*plusOrMinus;
            // prevent point from leaving appropriate margins
            if(xPos < x(d.set) || xPos > (x(d.set)+(graphMargin*2+r)) ){
              xPos = x(d.set)+(graphMargin+r) + Math.random()*graphMargin*plusOrMinus;
            }
          } 
        }
        xPositions.push(xPos);
        yPositions.push(y(d.val));
        return xPos;
      })
      .attr("cy", function(d,i){  return y(d.val);  })
      .style("fill", function(d,i){ return color(d.set) })
      .style("stroke", function(d,i){ return d3.rgb(color(d.set)).darker().toString(); })
      .on('click', function(d,i){
        toggleDatum(this, d, i);
      });
  })();

  svg.append("g")
    .selectAll("line")
    .data(sums)
    .enter()
    .append("line")
      .attr("x1", function(d,i) {
        return x(i)+graphMargin-r*2;
      }).attr("y1", function(d,i) {
        return y(d.sum/d.n);
      }).attr("x2", function(d,i) {
        return x(i)+graphMargin+r*4;
      }).attr("y2", function(d,i) {
        return y(d.sum/d.n)
      })
      .attr('class', function(d,i){return "meanLine"+i;})
      .style("stroke", function(d,i){ return d3.rgb(color(i)).darker().toString(); })
      .style("stroke-width",2)
      .style("stroke-dasharray",1);
});


// Returns a function to compute the interquartile range.
function iqr(k) {
  return function(d, i) {
    var q1 = d.quartiles[0],
        q3 = d.quartiles[2],
        iqr = (q3 - q1) * k,
        i = -1,
        j = d.length;
    while (d[++i] < q1 - iqr);
    while (d[--j] > q3 + iqr);
    return [i, j];
  };
}

function toggleDatum(elem,d,i){
  if(elem.hasOwnProperty('excluded')){
    // reintroduce
    delete(elem.excluded);
    d3.select(elem)
      .style('fill', color(d.set))
      .style('stroke','none');
    sums[d.set].sum +=d.val;
    sums[d.set].n++;
  }
  else{
    d3.select(elem)
      .style('fill', 'white')
      .style('stroke','#ccc')
      .style('stroke-width','1.5px');
    elem.excluded=true;
    sums[d.set].sum -=d.val;
    sums[d.set].n--;
  }
  adjustMean(d);
  return true;
}

function adjustMean(dataAltered){
  if(sums[dataAltered.set].n < 1){
    d3.selectAll(".meanLine"+dataAltered.set)
    .transition()
    .duration(1000)
    .style('opacity', 0.0);
  }
  else{
    d3.selectAll(".meanLine"+dataAltered.set)
      .transition()
      .duration(1000)
      .attr("y1", function(d,i) {
        return y(d.sum/d.n);
      })
      .attr("y2", function(d,i) {
        return y(d.sum/d.n)
      })
      .style('opacity', 1.0);
  }
}

(function() {
// from http://bl.ocks.org/mbostock/4061502
// Inspired by http://informationandvisualization.de/blog/box-plot
d3.box = function() {
  var width = 1,
      height = 1,
      duration = 0,
      domain = null,
      value = Number,
      whiskers = boxWhiskers,
      quartiles = boxQuartiles,
      tickFormat = null;

  // For each small multiple…
  function box(g) {
    g.each(function(d, i) {
      d = d.map(value).sort(d3.ascending);
      var g = d3.select(this),
          n = d.length,
          min = d[0],
          max = d[n - 1];

      // Compute quartiles. Must return exactly 3 elements.
      var quartileData = d.quartiles = quartiles(d);

      // Compute whiskers. Must return exactly 2 elements, or null.
      var whiskerIndices = whiskers && whiskers.call(this, d, i),
          whiskerData = whiskerIndices && whiskerIndices.map(function(i) { return d[i]; });

      // Compute outliers. If no whiskers are specified, all data are "outliers".
      // We compute the outliers as indices, so that we can join across transitions!
      var outlierIndices = whiskerIndices
          ? d3.range(0, whiskerIndices[0]).concat(d3.range(whiskerIndices[1] + 1, n))
          : d3.range(n);

      // Compute the new x-scale.
      var x1 = d3.scale.linear()
          .domain(domain && domain.call(this, d, i) || [min, max])
          .range([height, 0]);

      // Retrieve the old x-scale, if this is an update.
      var x0 = this.__chart__ || d3.scale.linear()
          .domain([0, Infinity])
          .range(x1.range());

      // Stash the new scale.
      this.__chart__ = x1;

      // Note: the box, median, and box tick elements are fixed in number,
      // so we only have to handle enter and update. In contrast, the outliers
      // and other elements are variable, so we need to exit them! Variable
      // elements also fade in and out.

      // Update center line: the vertical line spanning the whiskers.
      var center = g.selectAll("line.center")
          .data(whiskerData ? [whiskerData] : []);

      center.enter().insert("line", "rect")
          .attr("class", "center")
          .attr("x1", width / 2)
          .attr("y1", function(d) { return x0(d[0]); })
          .attr("x2", width / 2)
          .attr("y2", function(d) { return x0(d[1]); })
          .style("opacity", 1e-6)
        .transition()
          .duration(duration)
          .style("opacity", 1)
          .attr("y1", function(d) { return x1(d[0]); })
          .attr("y2", function(d) { return x1(d[1]); });

      center.transition()
          .duration(duration)
          .style("opacity", 1)
          .attr("y1", function(d) { return x1(d[0]); })
          .attr("y2", function(d) { return x1(d[1]); });

      center.exit().transition()
          .duration(duration)
          .style("opacity", 1e-6)
          .attr("y1", function(d) { return x1(d[0]); })
          .attr("y2", function(d) { return x1(d[1]); })
          .remove();

      // Update innerquartile box.
      var box = g.selectAll("rect.box")
          .data([quartileData]);

      box.enter().append("rect")
          .attr("class", "box")
          .attr("x", 0)
          .attr("y", function(d) { return x0(d[2]); })
          .attr("width", width)
          .attr("height", function(d) { return x0(d[0]) - x0(d[2]); })
        .transition()
          .duration(duration)
          .attr("y", function(d) { return x1(d[2]); })
          .attr("height", function(d) { return x1(d[0]) - x1(d[2]); });

      box.transition()
          .duration(duration)
          .attr("y", function(d) { return x1(d[2]); })
          .attr("height", function(d) { return x1(d[0]) - x1(d[2]); });

      // Update median line.
      var medianLine = g.selectAll("line.median")
          .data([quartileData[1]]);

      medianLine.enter().append("line")
          .attr("class", "median")
          .attr("x1", 0)
          .attr("y1", x0)
          .attr("x2", width)
          .attr("y2", x0)
        .transition()
          .duration(duration)
          .attr("y1", x1)
          .attr("y2", x1);

      medianLine.transition()
          .duration(duration)
          .attr("y1", x1)
          .attr("y2", x1);

      // Update whiskers.
      var whisker = g.selectAll("line.whisker")
          .data(whiskerData || []);

      whisker.enter().insert("line", "circle, text")
          .attr("class", "whisker")
          .attr("x1", 0)
          .attr("y1", x0)
          .attr("x2", width)
          .attr("y2", x0)
          .style("opacity", 1e-6)
        .transition()
          .duration(duration)
          .attr("y1", x1)
          .attr("y2", x1)
          .style("opacity", 1);

      whisker.transition()
          .duration(duration)
          .attr("y1", x1)
          .attr("y2", x1)
          .style("opacity", 1);

      whisker.exit().transition()
          .duration(duration)
          .attr("y1", x1)
          .attr("y2", x1)
          .style("opacity", 1e-6)
          .remove();

      // Update outliers.
      var outlier = g.selectAll("circle.outlier")
          .data(outlierIndices, Number);

      outlier.enter().insert("circle", "text")
          .attr("class", "outlier")
          .attr("r", 5)
          .attr("cx", width / 2)
          .attr("cy", function(i) { return x0(d[i]); })
          .style("opacity", 1e-6)
        .transition()
          .duration(duration)
          .attr("cy", function(i) { return x1(d[i]); })
          .style("opacity", 1);

      outlier.transition()
          .duration(duration)
          .attr("cy", function(i) { return x1(d[i]); })
          .style("opacity", 1);

      outlier.exit().transition()
          .duration(duration)
          .attr("cy", function(i) { return x1(d[i]); })
          .style("opacity", 1e-6)
          .remove();

      // Compute the tick format.
      var format = tickFormat || x1.tickFormat(8);

      // Update box ticks.
      var boxTick = g.selectAll("text.box")
          .data(quartileData);

      boxTick.enter().append("text")
          .attr("class", "box")
          .attr("dy", ".3em")
          .attr("dx", function(d, i) { return i & 1 ? 6 : -6 })
          .attr("x", function(d, i) { return i & 1 ? width : 0 })
          .attr("y", x0)
          .attr("text-anchor", function(d, i) { return i & 1 ? "start" : "end"; })
          .text(format)
        .transition()
          .duration(duration)
          .attr("y", x1);

      boxTick.transition()
          .duration(duration)
          .text(format)
          .attr("y", x1);

      // Update whisker ticks. These are handled separately from the box
      // ticks because they may or may not exist, and we want don't want
      // to join box ticks pre-transition with whisker ticks post-.
      var whiskerTick = g.selectAll("text.whisker")
          .data(whiskerData || []);

      whiskerTick.enter().append("text")
          .attr("class", "whisker")
          .attr("dy", ".3em")
          .attr("dx", 6)
          .attr("x", width)
          .attr("y", x0)
          .text(format)
          .style("opacity", 1e-6)
        .transition()
          .duration(duration)
          .attr("y", x1)
          .style("opacity", 1);

      whiskerTick.transition()
          .duration(duration)
          .text(format)
          .attr("y", x1)
          .style("opacity", 1);

      whiskerTick.exit().transition()
          .duration(duration)
          .attr("y", x1)
          .style("opacity", 1e-6)
          .remove();
    });
    d3.timer.flush();
  }

  box.width = function(x) {
    if (!arguments.length) return width;
    width = x;
    return box;
  };

  box.height = function(x) {
    if (!arguments.length) return height;
    height = x;
    return box;
  };

  box.tickFormat = function(x) {
    if (!arguments.length) return tickFormat;
    tickFormat = x;
    return box;
  };

  box.duration = function(x) {
    if (!arguments.length) return duration;
    duration = x;
    return box;
  };

  box.domain = function(x) {
    if (!arguments.length) return domain;
    domain = x == null ? x : d3.functor(x);
    return box;
  };

  box.value = function(x) {
    if (!arguments.length) return value;
    value = x;
    return box;
  };

  box.whiskers = function(x) {
    if (!arguments.length) return whiskers;
    whiskers = x;
    return box;
  };

  box.quartiles = function(x) {
    if (!arguments.length) return quartiles;
    quartiles = x;
    return box;
  };

  return box;
};

function boxWhiskers(d) {
  return [0, d.length - 1];
}

function boxQuartiles(d) {
  return [
    d3.quantile(d, .25),
    d3.quantile(d, .5),
    d3.quantile(d, .75)
  ];
}

})();
</script>
